/* styles */
html {
    background: #000 url(images/fon.gif) ;
    background-size: 100%;
}
#div_fon {
    width: 70%;
    margin: auto;
    min-height: auto;
    background: linear-gradient(blue, yellow, purple);
    border-radius: 20px;
    box-shadow: 10px 10px 160px 20px #8A2BE2;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 10px;
}
p {
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 10px 10px 10px;
    font-size: 150%;
    text-shadow: #8A2BE2;
}
.pic1 {
    display: flex;
    justify-content: right;
    float: right;
    padding-right: 10px;
}
.pic2 {
    display: flex;
    justify-content: right;
    float: right;
    padding-right: 10px;
}
img {
    height: 150px;
    width: 250px;
    display: flex;
    justify-content: right;

}
